/* .container form fieldset{
    background-color: rgb(140, 233, 225);
}
.container form fieldset button{
    width: 60px;
    min-height: 30px;
    color: white;
    background-color: black;
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
